# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env/
site-packages/

# Torch / MONAI junk
torch/
sympy/
triton/
monai/
*.dist-info/

# Data
data/
datasets/
*.nii
*.nii.gz

# Models
*.pth
*.pt

# OS
.DS_Store
Thumbs.db

